page-phases {
ion-slide.swiper-slide {
    align-items: flex-start;
    width: 120px !important;
    }

    ion-card.card-md {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    img {
        height: 159px;
    }
    }

    ion-card-content.card-content-md {
    padding: 2px 0;
    }

    ion-card-title.card-title-md {
    font-size: 1.5rem;
    text-align: left;
    color: #fff;
    margin: 0;
    padding: 0;
    }

}
