page-home {
  .slides {
    height: 100%;

    .swiper-slide {
      padding: 16px;
      
      .skip_button {
        position: absolute;
        top: 16px;
        right: 16px;
      }
      h1 {
        color: color($colors, light); 
      }
      img,
      .hero_icon {
        height: 200px;  
        color: color($colors, dark);    
        font-size: 180px;   
      }      
    }
  } 

}
