<ion-content padding>

  <h2>Phase 1</h2>
  <ion-slides slidesPerView="2">
    <ion-slide *ngFor="let movie of moviesPhase1">
      <ion-card (click)="viewItemPhase1(movie)">
        <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
        <ion-card-content>
          <ion-card-title>
            <span>{{movie.original_title}}</span>
            </ion-card-title>

        </ion-card-content>
      </ion-card>
    </ion-slide>
    </ion-slides>

    <h2>Phase 2</h2>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let movie of moviesPhase2">
        <ion-card (click)="viewItemPhase2(movie)">
          <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
          <ion-card-content>
            <ion-card-title>
              <span>{{movie.original_title}}</span>
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      </ion-slides>

      <h2>Phase 3</h2>
      <ion-slides slidesPerView="2">
        <ion-slide *ngFor="let movie of moviesPhase3">
          <ion-card (click)="viewItemPhase2(movie)">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"/>
            <ion-card-content>
              <ion-card-title>
                <span>{{movie.original_title}}</span>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        </ion-slides>



</ion-content>
