@font-face {
  font-family: 'heroes_assemble_italicitalic';
  src: url('../assets/fonts/heroes_assemble/heroesassembleital2-webfont.woff2') format('woff2'),
       url('../assets/fonts/heroes_assemble/heroesassembleital2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

h1 {
  font-family: 'heroes_assemble_italicitalic';
  color: #ef0d24;
  font-size: 36px;
  line-height: 48px;
}

ion-content.content-md {
  background: #2A2A2A;
  color: #fff;
}

ion-slides {
  height: auto;
}

.scroll-content {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.header-md {
  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    color: #ef0d24 !important;
    background: #fff;
    border-radius: 50%;
    height: 27px;
    padding: 0;
    min-width: 20px;
  }

  &:after {
    display: none !important;
  }
}
